*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color:rgb(161, 209, 226);
  width: 100%;
  min-height: 50px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-logo{
  background-color: rgb(137, 106, 30);
  width: 15%;
  height: 30px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-link{
  background-color: rgb(137, 106, 30);
  width: 40%;
  height: 30px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.menu-login{
  background-color: rgb(137, 106, 30);
  width: 15%;
  height: 30px;
  border: 1px dashed black;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}

.login{
  background-color: rgb(255, 255, 255);
  padding: 8px 16px;
  border-radius: 30px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.container-top{
  background-color: blue;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro{
  background-color: rgb(209, 116, 209);
  width: 60%;
  height: 420px;
}

.container{
  background-color: darkgrey;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

/*la "g" sta per "grande" e "p" sta per "piccolo"*/

.immagineg{
  background-color: rgb(30, 144, 255);
  height: 450px;
  width: 40%;
}

.testop{
  background-color: rgb(255, 192, 203);
  height: 450px;
  width: 30%;
}

.immaginep{
  background-color: rgb(30, 144, 255);
  height: 450px;
  width: 30%;
}

.testog{
  background-color: rgb(255, 192, 203);
  height: 450px;
  width: 40%;
}

.container-due{
  background-color: aqua;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.immagine-grande{
  background-color: darkgreen;
  width: 70%;
  height: 650px;
}

.container-tre{
  background-color: rgb(35, 39, 42);
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info{
  background-color: rgb(240, 128, 128);
  width: 30%;
  height: 450px;
  border: 1px solid black;
}

.colonna{
  background-color: rgb(32, 178, 170);
  width: 10%;
  height: 450px;
  border: 1px solid black;
}

.container-quattro{
  background-color: rgb(35, 39, 42);
  width: 100%;
  height: 80px;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom{
  background-color: rgb(115, 208, 176);
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span{
  background-color: rgb(240, 128, 128);
  border: 1px dashed black;

}

